.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

select {
  margin: 2rem auto;
  width: 50%;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  width: 5rem;
  height: 3rem;
  margin: 1rem 1rem;
  border: none;
  border-radius: 12px 12px 12px 12px;
  background-color: #fad9c1;
}
